* {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

body {
    text-align: center;
}

.container {
    display: flex; 
    width: 600px;
    margin: 0 auto;
}

.available-courses,
.selected-courses {
    flex: 1;
    overflow-y: scroll;
    border: 2px solid black;
    font-size: small;
}

.available-courses {
    margin-right: 180px
}

li {
    margin-bottom: 10px; 
    border: 2px solid black;
}

.dynamic-list-item {
    list-style-type: none;
    overflow-y: scroll;
}

.selected-courses ul {
    padding: 0;
    list-style-type: none;
}

.available-courses li:nth-child(even) {
    background-color: rgb(221, 239, 221); 
}

.selected-courses li:nth-child(odd) {
    background-color: rgb(221, 239, 221); 
}

.selected {
    background-color:cornflowerblue;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

.button-container h2 {
    margin-right: 10px; 
}

.button-container button {
    padding: 5px 10px; 
    font-size: 14px; 
}